.button--primary {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  background: orange;
  color: $white;
  border: none;
  height: 44px;
  float: right;
  width: 28%;
  text-align: left;
  padding: 0 10px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  @include bp(med) {
    width: 100%;
    display: block;
    margin: 0 0 10px 0;
  }
}

.button--primary::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 14px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: url('../images/arrow.png');
}
